<!DOCTYPE html>
<html>
<head>
      <!-- Custom styles for this template -->
      <!--   <link href="static/css/table_style.css" rel="stylesheet"> -->

</head>

<body>
  {% if perfume_id %}
  <h1>I see, you like {{ perfume_id }}! </h1>
  <p>And because you like {{ perfume_id }}, these are our recommendations for you!</p>
  {% else %}
  <form>
    <input type='text' name='perfume_id' placeholder='Perfume ID'/>
    <input type='submit' value='Submit' />
  </form>
  {% endif %}

  {% if perfume_id %}
  <table align="center">
    <thead>
  		<th align="center">Brand</th>
      <th align="center">Perfume Name</th>
      <th align="center">Gender</th>
  		<th align="center">Theme</th>
  		<th align="center">Note</th>
  		<th align="center">Tags</th>
    </thead>
    <tbody>
      {% for element in preds%}
        <tr>
  				<td>{{ element['brand'] }}</td>
          <td>{{ element['item_name'] }}</td>
          <td align="right">{{ element['gender']}}</td>
  				<td align="right">{{ element['theme']}}</td>
  				<td align="right">{{ element['note']}}</td>
  				<td align="right">{{ element['tags']}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</body>
</html>
