<!DOCTYPE html>
<html lang=zh-CN>
<head>
  <meta charset="utf-8"/>
  <!-- Custom styles for this template -->
  <!--   <link href="static/css/table_style.css" rel="stylesheet"> -->
</head>

<title>ScentMate Perfume Recommender</title>
<body>
  <h1>Tell me something about you... </h1>

<form action = "/getmatch" method="POST">
  <p> Select your gender:
    <select name="gender">
      <option value="男香">Male </option>
      <option value="女香" selected>Female </option>
    </select></p>
	<p> What note do you like?
    <select name="note">
      <option value="麝香">Musk </option>
      <option value="茉莉">Jasmine</option>
      <option value="玫瑰" selected>Rose </option>
      <option value="檀香木" selected>Female Fragrance </option>
      <option value="香柠檬" selected>Female Fragrance </option>
      <option value="香草" selected>Female Fragrance </option>
      <option value="广藿香" selected>Female Fragrance </option>
      <option value="香根草" selected>Female Fragrance </option>
      <option value="雪松" selected>Female Fragrance </option>
      <option value="橘子" selected>Female Fragrance </option>
      <option value="橙花" selected>Female Fragrance </option>
      <option value="薰衣草" selected>Female Fragrance </option>
      <option value="铃兰" selected>Female Fragrance </option>
      <option value="小苍兰" selected>Female Fragrance </option>
    </select></p>
  <p> What note do you dislike?
    <select name="note">
      <option value="麝香">Musk </option>
      <option value="茉莉">Jasmine</option>
      <option value="玫瑰" selected>Rose </option>
      <option value="檀香木" selected>Female Fragrance </option>
      <option value="香柠檬" selected>Female Fragrance </option>
      <option value="香草" selected>Female Fragrance </option>
      <option value="广藿香" selected>Female Fragrance </option>
      <option value="香根草" selected>Female Fragrance </option>
      <option value="雪松" selected>Female Fragrance </option>
      <option value="橘子" selected>Female Fragrance </option>
      <option value="橙花" selected>Female Fragrance </option>
      <option value="薰衣草" selected>Female Fragrance </option>
      <option value="铃兰" selected>Female Fragrance </option>
      <option value="小苍兰" selected>Female Fragrance </option>
    </select></p>
  <p> What feeling do you want when you are wearing fragrance?
    <select name="tag">
      <option value="麝香">Musk </option>
      <option value="茉莉">Jasmine</option>
      <option value="玫瑰" selected>Rose </option>
      <option value="檀香木" selected>Female Fragrance </option>
      <option value="香柠檬" selected>Female Fragrance </option>
      <option value="香草" selected>Female Fragrance </option>
      <option value="广藿香" selected>Female Fragrance </option>
      <option value="香根草" selected>Female Fragrance </option>
      <option value="雪松" selected>Female Fragrance </option>
      <option value="橘子" selected>Female Fragrance </option>
      <option value="橙花" selected>Female Fragrance </option>
      <option value="薰衣草" selected>Female Fragrance </option>
      <option value="铃兰" selected>Female Fragrance </option>
      <option value="小苍兰" selected>Female Fragrance </option>
    </select></p>
  <p> What theme do you like?
    <select name="theme">
      <option value="花香" selected>Female Fragrance </option>
      <option value="花果香" selected>Female Fragrance </option>
      <option value="东方花香" selected>Female Fragrance </option>
      <option value="木质花香" selected>Female Fragrance </option>
      <option value="木质馥奇香调" selected>Female Fragrance </option>
      <option value="馥奇香调" selected>Female Fragrance </option>
    </select></p>
	<p> <input type ="submit" value="submit" /> </p>
</form>
</body>
</html>
