<!DOCTYPE html>
<html lang=zh-CN>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ScentMate Perfume Recommender</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">

</head>

<title>ScentMate Perfume Recommender</title>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">ScentMate</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/signin">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About ScentMate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="intro-header">
    <div class="container">
      <div class="col-lg-5 mr-auto order-lg-2">
      <h3><br>Tell me something about you... </h3>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <section class="content-section-a">

    <div class="container">
      <div class="row">
        <div class="col-lg-5 mr-auto order-lg-2">
          <div class="recommendations">
            <form action = "/getmatch" method="POST">
              <p>
                <label>Your gender</label>
                <label><input type="radio" name="gender" value="女香">Female</label>
                <label><input type="radio" name="gender" value="男香">Male</label>
              </p>
          </div>

          <div>
            <p>
              <dl class="dropdown">
                  <dt>
                    <span>Pick the keywords you want to express when wearing perfume</span>
                    <!-- <p class="multiSel"></p> -->
                  </dt>
                  <dd>
                      <div class="mutliSelect">
                          <ul>
                              <li>
                                  <input type="checkbox" name='note' value="甜美" />Sweet</li>
                              <li>
                                  <input type="checkbox" name='note' value="温柔" />Gentle</li>
                              <li>
                                  <input type="checkbox" name='note' value="优雅" />Elegant</li>
                              <li>
                                  <input type="checkbox" name='note' value="成熟" />Mature</li>
                              <li>
                                  <input type="checkbox" name='note' value="性感" />Sexy</li>
                              <li>
                                  <input type="checkbox" name='note' value="女人味" />Feminine</li>
                              <li>
                                  <input type="checkbox" name='note' value="清新" />Fresh</li>
                              <li>
                                  <input type="checkbox" name='note' value="经典" />Classy</li>
                              <li>
                                  <input type="checkbox" name='note' value="淡雅" />Soft</li>
                              <li>
                                  <input type="checkbox" name='note' value="平易近人" />Easygoing</li>
                              <li>
                                  <input type="checkbox" name='note' value="邻家女孩" />The girl next door</li>
                              <li>
                                  <input type="checkbox" name='note' value="少女" />Young lady</li>
                              <li>
                                  <input type="checkbox" name='note' value="可爱" />Lovely</li>
                              <li>
                                  <input type="checkbox" name='note' value="活泼" />Lively</li>
                              <li>
                                  <input type="checkbox" name='note' value="干净" />Clean</li>
                              <li>
                                  <input type="checkbox" name='note' value="夏天" />Summer</li>
                              <li>
                                  <input type="checkbox" name='note' value="清爽" />Refreshing</li>
                              <li>
                                  <input type="checkbox" name='note' value="温暖" />Warm</li>
                              <li>
                                  <input type="checkbox" name='note' value="男人味" />Masculine</li>
                              <li>
                                  <input type="checkbox" name='note' value="稳重" />Reliable</li>
                              <li>
                                  <input type="checkbox" name='note' value="神秘" />Mysterious</li>
                              <li>
                                  <input type="checkbox" name='note' value="深沉" />Deep</li>
                              <li>
                                  <input type="checkbox" name='note' value="浓郁" />Heavy and strong</li>
                              <li>
                                  <input type="checkbox" name='note' value="冬天" />Winter</li>
                              <li>
                                  <input type="checkbox" name='note' value="青草" />Grass</li>
                              <li>
                                  <input type="checkbox" name='note' value="植物" />Plants</li>
                              <li>
                                  <input type="checkbox" name='note' value="大牌" />Big brands</li>
                              <li>
                                  <input type="checkbox" name='note' value="奢华" />Luxury</li>
                              <li>
                                  <input type="checkbox" name='note' value="广为人知" />Well-known</li>
                              <li>
                                  <input type="checkbox" name='note' value="广告多见" />Advertised</li>
                          </ul>
                      </div>
                  </dd>
                  <!-- <button>Filter</button> -->
              </dl>
            </p>
          </div>


            <div>
              <p>
                <dl class="dropdown">
                    <dt>
                      <span>What note do you like?</span>
                      <!-- <p class="multiSel"></p> -->
                    </dt>
                    <dd>
                        <div class="mutliSelect">
                            <ul>
                                <li>
                                    <input type="checkbox" name='note' value="麝香" />Musk</li>
                                <li>
                                    <input type="checkbox" name='note' value="茉莉" />Jasmine</li>
                                <li>
                                    <input type="checkbox" name='note' value="玫瑰" />Rose</li>
                                <li>
                                    <input type="checkbox" name='note' value="香柠檬" />Bergamot</li>
                                <li>
                                    <input type="checkbox" name='note' value="柠檬" />Lemon</li>
                                <li>
                                    <input type="checkbox" name='note' value="橙花" />Neroli</li>
                                <li>
                                    <input type="checkbox" name='note' value="薰衣草" />Lavender</li>
                                <li>
                                    <input type="checkbox" name='note' value="铃兰" />Lily of the valley</li>
                                <li>
                                    <input type="checkbox" name='note' value="零陵香豆" />Tonka bean</li>
                                <li>
                                    <input type="checkbox" name='note' value="紫罗兰" />Violet</li>
                                <li>
                                    <input type="checkbox" name='note' value="葡萄柚" />Grapefruit</li>
                                <li>
                                    <input type="checkbox" name='note' value="鸢尾花" />Iris</li>
                                <li>
                                    <input type="checkbox" name='note' value="依兰" />Ylang-Ylang</li>
                                <li>
                                    <input type="checkbox" name='note' value="桃子" />Peach</li>
                                <li>
                                    <input type="checkbox" name='note' value="橙子" />Orange</li>
                                <li>
                                    <input type="checkbox" name='note' value="胡椒" />Pepper</li>
                                <li>
                                    <input type="checkbox" name='note' value="小豆蔻" />Cardamom</li>
                                <li>
                                    <input type="checkbox" name='note' value="小苍兰" />Freesia</li>
                                <li>
                                    <input type="checkbox" name='note' value="绿叶" />Green leaves</li>
                                <li>
                                    <input type="checkbox" name='note' value="皮革" />Leather</li>
                                <li>
                                    <input type="checkbox" name='note' value="广藿香" />Patchouli</li>
                                <li>
                                    <input type="checkbox" name='note' value="雪松" />Cedrus</li>
                                <li>
                                    <input type="checkbox" name='note' value="香根草" />Vetiver</li>
                                <li>
                                    <input type="checkbox" name='note' value="香草" />Vanilla</li>

                            </ul>
                        </div>
                    </dd>
                    <!-- <button>Filter</button> -->
                </dl>
              </p>
            </div>

            <div>
              <p>
                <dl class="dropdown">
                    <dt>
                      <span>What theme do you like?</span>
                      <!-- <p class="multiSel"></p> -->
                    </dt>
                    <dd>
                        <div class="mutliSelect">
                            <ul>
                                <li>
                                    <input type="checkbox" name='theme' value="花香调" />Floral</li>
                                <li>
                                    <input type="checkbox" name='theme' value="花香果香调" />Floral Fruity</li>
                                <li>
                                    <input type="checkbox" name='theme' value="东方花香调" />Oriental Floral</li>
                                <li>
                                    <input type="checkbox" name='theme' value="木质花香调" />Woody Floral</li>
                                <li>
                                    <input type="checkbox" name='theme' value="木质馥奇香调" />Woody Fougere</li>
                                <li>
                                    <input type="checkbox" name='theme' value="馥奇香调" />Fougere</li>
                                <li>
                                    <input type="checkbox" name='theme' value="木质东方调" />Oriental Woody</li>
                                <li>
                                    <input type="checkbox" name='theme' value="东方调" />Oriental</li>
                                <li>
                                    <input type="checkbox" name='theme' value="柑橘馥奇香调" />Citrus Fougere</li>
                                <li>
                                    <input type="checkbox" name='theme' value="东方美食调" />Oriental Gourmand</li>
                                <li>
                                    <input type="checkbox" name='theme' value="辛辣木质调" />Woody Spicy</li>
                                <li>
                                    <input type="checkbox" name='theme' value="花香甘苔调" />Chypre Floral</li>
                                <li>
                                    <input type="checkbox" name='theme' value="花果香美食调" />fruity Gourmand</li>
                                <li>
                                    <input type="checkbox" name='theme' value="绿叶花香调" />Floral Green</li>
                                <li>
                                    <input type="checkbox" name='theme' value="辛辣东方调" />Oriental Spicy</li>
                                <li>
                                    <input type="checkbox" name='theme' value="辛辣馥奇香调" />Spicy Fougere</li>
                                <li>
                                    <input type="checkbox" name='theme' value="柑橘调" />Citrus</li>
                                <li>
                                    <input type="checkbox" name='theme' value="木质调" />Woody</li>
                                <li>
                                    <input type="checkbox" name='theme' value="皮革调" />Leather</li>
                                <li>
                                    <input type="checkbox" name='theme' value="果香馥奇香调" />Fruity Fougere</li>
                                <li>
                                    <input type="checkbox" name='theme' value="东方馥奇香调" />Oriental Fougere</li>
                                <li>
                                    <input type="checkbox" name='theme' value="水生花香调" />Floral Aquatic</li>
                                <li>
                                    <input type="checkbox" name='theme' value="水生馥奇香调" />Aquatic Fougere</li>
                                <li>
                                    <input type="checkbox" name='theme' value="甘苔调" />Chypre</li>
                                <li>
                                    <input type="checkbox" name='theme' value="绿叶馥奇香调" />Green Fougere</li>
                                <li>
                                    <input type="checkbox" name='theme' value="醛香花香调" />Floral Aldehyde</li>
                                <li>
                                    <input type="checkbox" name='theme' value="木质甘苔调" />Chypre Woody</li>
                                <li>
                                    <input type="checkbox" name='theme' value="东方馥奇香调" />Chypre Fruity</li>
                                <li>
                                    <input type="checkbox" name='theme' value="水生花香调" />Aquatic Woody</li>
                                <li>
                                    <input type="checkbox" name='theme' value="水生馥奇香调" />Citrus Gourmand</li>
                            </ul>
                        </div>
                    </dd>
                </dl>
              </p>
            </div>


            	<p> <input type ="submit" value="Check Our Suggestions" /> </p>
            </form>
          </div>
      </div>
      <!-- /.container -->
    </section>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  <script src="static/js/my_style.js"></script>

  <!-- Footer -->
  <footer>
    <div class="container">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="/">Home</a>
        </li>
        <li class="footer-menu-divider list-inline-item">&sdot;</li>
        <li class="list-inline-item">
          <a href="#about">About ScentMate</a>
        </li>
        <li class="footer-menu-divider list-inline-item">&sdot;</li>
        <li class="list-inline-item">
          <a href="#contact">Contact</a>
        </li>
      </ul>
      <p class="copyright text-muted small">Copyright &copy; ScentMate 2017. All Rights Reserved</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/popper/popper.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
