<!DOCTYPE html>
<html lang=zh-CN>
<head>
  <meta charset="utf-8"/>
  <!-- Custom styles for this template -->
  <!--   <link href="static/css/table_style.css" rel="stylesheet"> -->
</head>

<title>ScentMate Perfume Recommender</title>
<body>

<form>
    <div class="form-group">
      <div>
        <select id="myform" name='category' multiple class="form-control"> // addition here
            <option> Category 01 </option>
            <option> Category 01 </option>
            <option> Category 01 </option>
        </select>
      </div>
    </div>
</form>
